.footer {
    color: #545454;
    margin-bottom: 60px;
    margin-top: 67px;
    font-size: 18px;
    line-height: 21.78px;
}

.footer__copy {
    margin: 0;
}

@media screen and (max-width:480px) {
    .footer {
        margin-top: 48px;
        margin-left: 19px;
        margin-right: 19px;
        margin-bottom: 36px;
        font-size: 14px;
        line-height: 16.94px;
    }
}